.loginpage{
    position: relative;
    background-color: #1b1c7a;
    height: 30vw;
    width: 60vw;
    margin-left: 20vw;
    margin-top:  5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."; 
}
.username{
    position: relative;
    height: 20px;
    top: -6vw;
    left: 22vw;
    width: 15vw;
}

.password{
    position: relative;
    height: 20px;
    top: -16vw;
    left: 22vw;
    width: 15vw;
}

.submit{
    position: relative;
    top: -17.2vw;
    left: 39vw;
    width: 4vw;
}
