.addbtn{
    margin-bottom:3.5px;
}

.todocomp{
    position: relative;
    margin-left: 10%;
    border: 3px solid;
    width: 80%;
    height: 70px;
    border-radius:20px;
    
}
.todo{
    position: relative;
    left:10px;
    text-align: left;
}

.dlt{
    position: relative;
    bottom: 41px;
    left: 166px;
}

.input{
    color: black;
}

@media (max-width: 480px){
    .addbtn{
        position: relative;
        margin-left:237px;
        margin-top:-50px;
    }
    
    .todocomp{
        position: relative;
        margin-left: 5%;
        border: 3px solid;
        width: 90%;
        height: 70px;
        border-radius:20px;
        
    }
    .todo{
        position: relative;
        left:10px;
        text-align: left;
    }
    
    .dlt{
        position: relative;
        bottom: 41px;
        left: 140px;
    }
    
    .input{
        color: black;
    }
    
}